.ourvissionheader{
margin: 20px;
margin-top: 70px;
width: inherit;
display: grid;
background: transparent;
display: flex;
}

.vissionimg{
    width: 60%;

}
.vissionimg img{
    object-fit: cover;
    /* height: 50% ; */
    width: 80%;
    padding: 3%;
    border-top-right-radius: 15%;
    border-top-left-radius: 39%;
    border-bottom-right-radius: 39%;

}

.vissiontext{
    width: 60%;
    
}

.vissiontext h1{
    font-size: 12.3rem;
    text-align: left;
    margin: auto;
    background: transparent;
    height: 100%;
    padding-left: 2rem;
}

.icons{
    display: flex;
    grid-template-columns: 5fr repeat(5,1fr);
    /* align-items: center; */
    background: transparent;
}

 

.icons img{
    object-fit: contain;
    width: 10%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.textbox{
    text-align: center;
    margin: 13%;
}

.visbutton{
    display: grid;
    /* width: 100%; */
    /* text-align: center; */
    width: 20%;
    margin: auto;
}

.visbutton button{
    color: black;
    background: rgb(255, 166, 0);
    box-shadow: 2px 2px 6.5px;
    
}
