
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
  }
  
  html {
    font-size: 75.5%;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  /* -------------------------------------------------------------------------- */
  
  .mainnav{
  
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      position: fixed;
      top: 0px;
      overflow: hidden;
      z-index: 9999;
      background: white;
  
  }
  
  .mainNav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  .logo{
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
  }
  
  .logo h2{
    font: 3rem;
    text-transform: uppercase;
    background: linear-gradient(orange,rgb(163, 154, 137));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .menu{
    grid-column: 3/4;
   }
  
   .menu ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
  
   .menu ul li {
    font-size: 1.15rem;
  }
  
  .menu ul li a {
    text-transform: capitalize;
    color: black;
    transition: 0.5s;
    text-decoration: none;
  }
  .menu ul li:hover  {
    padding:  1.5rem;
    font-size: 1.22rem;
    background: orange;
    color: black;
    transition: 0.2s;
    border-radius: 11px;
    /* align-items: center; */
  }
  
  
   .login{
    grid-column: 4/5;
   }
   .login ul{
    height: 10rem;
    display: grid;
    /* grid-template-columns: 2fr repeat(2,1fr); */
    align-items: center;
    justify-content: flex-end;
   }

   .login-desktop ul li a{
    font-size: medium;
    text-decoration: none;
    color: black;
  }

   .login ul li:hover  {
    padding:  1.5rem;
    font-size: 1.22rem;
    background: orange;
    color: black;
    transition: 0.2s;
    border-radius: 11px;
    /* align-items: center; */
  }

   
   .login ul li:first-child{
    grid-column: 2/3;
   }
  
   .login ul li {
    font-size: 1.8rem;
  }
  
  .login .hamburger-menu {
    display: none;
  }
  
  
  
  /* -----------------------------respnsive section--------------------- */
  @media (max-width: 1080px) {
    .main-nav {
      height: 8rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
      font-size:40px
    }
  
    .logo,
    .menu ul,
    .login ul {
      height: 8rem;
    }
  }
  
  /* responsive css style  */
  @media (max-width: 998px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu {
      display: none;
    }
  
    .logo,
    .login ul {
      height: 7rem;
    }
  
    .mobile-menu {
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
  
    .mobile-menu {
      background-color: white;
      height: 20rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  
    .mobile-menu ul li:first-child {
      transition-delay: 0.2s;
    }
  
    .login {
      grid-row: 1/2;
      grid-column: 3/5;
      justify-items: end;
      align-items: center;
      transition: all 2s linear;
    }
  
    .login .login-desktop {
      height: 0;
      display: none;
    }
  
    .login {
      height: 7rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .login .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 798px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
  
    .logo,
    .login ul {
      height: 6rem;
    }
  
    .login {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .login .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .logo,
    .login ul {
      height: 6rem;
    }
  
    .logo h2 {
      font-size: 2rem;
    }
  
    .login {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .login .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  
    /* hero section  */
  
    .hero-section h1 {
      font-size: 3.8rem;
    }
  }
  
  /* ------------self--------- */
  
  .body{
    margin: 130px 30px 40px 30px;
    padding: 20px;
  
  }
  
  .orangebox{
    background-color: orange;
    height: 400px;
    width: 100%;
    border-radius:21px;
    display: flex;
  }
  .textorange{
    height: 100%;
    width: 40%;
    /* margin: 20px 0px 0px 0px; */
    padding: 10px;
    /* background: #000; */
    margin-left: 30px;
    /* margin-top: 10px; */
    padding-top: 30px;
  
  }
  
  .textorange h2{
    font-size: 4rem;
  }
  
  .textorange p{
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px; 
  }
  
  .textorange button{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1.2px 1.2px 1px;
  }
  
  .orangevideo{
  /* background: red; */
  width: 55%;
  height: 90%;
  margin: auto;
  }
  
  
  .orangevideo img{
    margin: inherit;
    height: 200px;
    width: 200px;
    object-fit: cover;
    
  }
  
  .orangebelow{
    margin-top: 25px;
    /* display: flex ; */
  }
  
  .orangebelow ul li span{
    font-size: 3.7rem;
  }
  
  .orangebelow ul{
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .testimony h1{
    display: flex;
    justify-content: center;
  }
  
  